<div class="container">
    <br />
    <h1 class="text-center">Project: Gulp Sample - with SASS</h1>
    <hr />
    <div class="col-sm-offset-1">
        <h2>Overview</h2>
        <p>Front-end project to organize templates in components.</p>
        <br />
        <h2>Built With</h2>
        <ul>
            <li><a href="https://getbootstrap.com/">Bootstrap - Open source toolkit (v3.3.7)</a></li>
            <li><a href="https://jquery.com/">jQuery - Dependency Management</a></li>
            <li><a href="https://sass-lang.com/">SASS - Syntactically Awesome StyleSheets</a></li>
        </ul>
        <br />
        <h2>Installing</h2>
        <p>Please execute the commands below, to compile your project:</p>
        <p>
          <code>
            $ git clone<br />
            $ npm install<br />
            $ npm install --global gulp-cli<br />
            $ npm run dev  
          </code>
          <br />
        </p>
        <p>
          <br /><br />
          Having trouble? <a href="mailto:laura.arezo@gmail.com">Contact me!</a>
        </p>
    </div>
</div>