/* Mixins
   ============================= */

@mixin backgroundShadows($top, $right, $bottom, $left, $shadow) {
    -webkit-box-shadow: $top $right $bottom $left $shadow;
    -moz-box-shadow: $top $right $bottom $left $shadow;
    box-shadow: $top $right $bottom $left $shadow;
}

@mixin hoverTransitions($itens, $time, $transit) {
    -webkit-transition: $itens $time $transit;
    -moz-transition: $itens $time $transit;
    transition: $itens $time $transit;
    // Tip: all 0.2s ease-out
}

@mixin borderRadiusAll($radiusborderall) {
    -webkit-border-radius: $radiusborderall;
    -moz-border-radius: $radiusborderall;
    border-radius: $radiusborderall;
}

@mixin opacityAllBrowsers($brow, $ie, $alpha) {
    -ms-filter: $ie;
    filter: $alpha;
    -moz-opacity: $brow;
    -khtml-opacity: $brow;
    opacity: $brow;
    /*  Example:
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
    */
}